/*
Button {

    -fx-border-radius: 20px;
    -fx-border-color: #005296;

}
*/
@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins_Bold.ttf');
}
.bold {
    -fx-font-weight: bold;
}
.poppins {
    -fx-font-family: Poppins;
}
/*Back arrow*/
.back-arrow {
    -fx-cursor: HAND;
    -fx-fit-to-width: 61;
    -fx-fit-to-height: 53;
}
/*Navbar*/
.nav-item {
    -fx-pref-width: 155;
    -fx-pref-height: 51;
    -fx-cursor: hand;
}
.nav-item-icon {
    -fx-fit-to-width: 26;

}

/*Buttons*/
Button {
    -fx-cursor: hand;
}
.red-button {
    -fx-background-color: #C02130;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}

.blue-button {
    -fx-background-color: #005296;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
}
/*Tabpane*/

.tab-pane:top {
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-text-fill: white;
}
.select-button {
    -fx-pref-width: 120px;
    -fx-pref-height: 36px;
    -fx-font-weight: bold;
}

/*TableView*/
.table-column {
    -fx-alignment: CENTER;
}
.table-views .column-header{
    -fx-background-color: #005296;

}
.table-views .column-header .label {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #005296;
}

.table-views {
    -fx-background-radius: 10;
    -fx-font-size: 12;
    -fx-border-radius: 10;
    -fx-font-family: Poppins;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-background-color: #D3D3D3;
    -fx-font-family: Poppins;
    -fx-border-color: #FFFFFF;
}


/*Textfields*/
.input-text {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #D3D3D3;
}
/*Dialog*/

.dialog-pane{

}

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {

}

.dialog-pane > .content.label {

}



/**Costumization of Buttons**/
.dialog-pane .button{

    -fx-text-fill:white;
    -fx-wrap-text: true;
    -fx-cursor:hand;

}

.dialog-pane .button:hover{

}

/* Show vehicle from inventory */

/*Gridpane*/
.gridpane-hbox {
    -fx-spacing: 20;
    -fx-padding: 10 0 10 15;

}

.gridpane-hbox-label {
    -fx-font-size: 14px;
    -fx-pref-width: 180px;
}

/*DialogPane*/
.dialog-pane .button {
    -fx-background-color: #005296;
    -fx-text-fill: white;
}



/**
  -fx-background-color: #005296;
 */