/*
Button {

    -fx-border-radius: 20px;
    -fx-border-color: #005296;

}
*/

/*Navbar*/
.nav-item {
    -fx-pref-width: 155;
    -fx-pref-height: 51;
    -fx-cursor: hand;
}
.nav-item-icon {
    -fx-fit-to-width: 26;

}

/*Buttons*/
Button {
    -fx-cursor: hand;
}
.red-button {
    -fx-background-color: #C02130;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.blue-button {
    -fx-background-color: #005296;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
/*Tabpane*/
.tab-pane:top {
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-text-fill: white;
}
.select-button {
    -fx-pref-width: 120px;
    -fx-pref-height: 36px;
    -fx-font-weight: bold;
}
.blue-button {
    -fx-background-color: #005296;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-text-fill: white;
}


/*TableView*/

.table-view .column-header{
    -fx-background-color: #005296;

}
.table-view .column-header .label {
    -fx-text-fill: #fff;
}


/*Textfields*/
.input-text {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

/**
  -fx-background-color: #005296;
 */